<%- include("partials/header") -%>
<h1 class = "text-center">Login For Existing Users</h1>
<div class="container form1">
<form action = "/login" method = "POST">
    <div class="form-group">
        <input type="text" name = "username" class="form-control" id = "camp" placeholder="username">
    <hr>   
        <input type="password" name = "password" class="form-control" id = "img" placeholder="password">
        
    </div>
        <button class ="btn btn-primary">Login</button>
    
    

</form>
</div>
<%- include("partials/footer") -%>