<%- include("partials/header") -%>
<div class="container form1">
    <h5>Create Your Account</h5>
    <form action = "/register" method = "POST">
        <div class="form-group">
            <input type="text" name = "username" class="form-control" id = "camp" placeholder="Enter Username">
        </div> 
        <div class="form-group">  
            <input type="password" name = "password" class="form-control" id = "description" placeholder="Enter Password">
        </div>
            <button class ="btn btn-primary">Sign Up</button>
        
        <a class = "btn btn-secondary"href="/">Go Home</a>
    
    </form>
    </div>

<%- include("partials/footer") -%>