<%- include("../partials/header") -%>
<h1 class = "text-center">Create Your Camp Ground</h1>
<div class="container form1">
<form action = "/campgrounds" method = "POST">
    <div class="form-group">
        <label for="camp">Camp Name</label>
        <input type="text" name = "name" class="form-control" id = "camp">
        <label for="img">Camp Image</label>
        <input type="text" name = "image" class="form-control" id = "img">
        <label for="description">Description</label>
        <input type="text" name = "description" class="form-control" id = "description">
        <label for="price">Price</label>
        <input type="text" name = "price" class="form-control" id = "price">
    </div>
        <button class ="btn btn-primary">Click To Create</button>
    
    <a class = "btn btn-secondary"href="/">Go Home</a>

</form>
</div>
<%- include("../partials/footer") -%>
